<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>topolab.org</title>

<!-- Mobile Specific
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/boxed.css')}}" id="layout">
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/green.css')}}" id="colors">

<!-- Java Script
================================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{=URL('static', 'js/custom.js')}}"></script>
<script src="{{=URL('static', 'js/selectnav.js')}}"></script>
<script src="{{=URL('static', 'js/flexslider.js')}}"></script>
<script src="{{=URL('static', 'css/js/twitter.js')}}"></script>
<script src="{{=URL('static', 'js/tooltip.js')}}"></script>
<script src="{{=URL('static', 'js/effects.js')}}"></script>
<script src="{{=URL('static', 'js/fancybox.js')}}"></script>
<script src="{{=URL('static', 'js/carousel.js')}}"></script>
<script src="{{=URL('static', 'js/isotope.js')}}"></script>
<script src="{{=URL('static', 'js/jquery-easing-1.3.js')}}"></script>
<script src="{{=URL('static', 'js/jquery-transit-modified.js')}}"></script>
<script src="{{=URL('static', 'js/layerslider.transitions.js')}}"></script>
<script src="{{=URL('static', 'js/layerslider.kreaturamedia.jquery.js')}}"></script>


</head>
<body>

<!-- Wrapper Start -->
<div id="wrapper">


<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<div class="eight columns">
			<div id="logo">
				<a href="#"><img src="{{=URL('static', 'logo2.png')}}" alt="logo" /></a>
				<div id="tagline">Your topology lab in the web</div>
				<div class="clear"></div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="eight columns">
			
			<!-- Social Icons -->
			<ul class="social-icons">
				<li class="facebook"><a href="#">Facebook</a></li>
				<li class="twitter"><a href="#">Twitter</a></li>
				<li class="dribbble"><a href="#">Dribbble</a></li>
				<li class="linkedin"><a href="#">LinkedIn</a></li>
				<li class="pintrest"><a href="#">Pintrest</a></li>
			</ul>
			
			<div class="clear"></div>
			
			<!-- Contact Details -->
			<div id="contact-details">
				<ul>
					<li><i class="mini-ico-envelope"></i><a href="#">ring@topolab.org</a></li>
					<li><i class="mini-ico-user"></i>Luis Fontes</li>
				</ul>
			</div>

		</div>

	</div>
	<!-- Header / End -->
	
	<!-- Navigation -->
	<div class="sixteen columns">

		<div id="navigation">
			<ul id="nav">

				<li><a id="current" href="index.html">Home</a></li>

				<li><a href="#">Topology</a>
					<ul>
					<!--<li><a href="full_width.html">Full Width</a></li>
					<li><a href="about-us.html">About Us</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="pricing_tables.html">Pricing Tables</a></li>
					<li><a href="flexslider.html">FlexSlider</a></li>-->

					<li><a href="#">Finite topologies</a>
						<ul>
							<li><a href="sidebar_right.html">Hasse diagram</a></li>
							<!--<li><a href="sidebar_left.html">Sidebar Left</a></li>
							<li><a href="blog_post.html">Single Post</a></li>
							<li><a href="single_project.html">Single Project</a></li>-->
						</ul>
					</li>
					</ul>
				</li>

				<li><a href="#">Algebra</a></li>

				<li><a href="#">Photography</a>
					<!--<ul>
						<li><a href="portfolio_2.html">2 Columns</a></li>
						<li><a href="portfolio_3.html">3 Columns</a></li>
						<li><a href="portfolio_4.html">4 Columns</a></li>
						<li><a href="single_project.html">Single Project</a></li>
					</ul>-->
				</li>

				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>

			</ul>

			<!-- Search Form -->
			<div class="search-form">
				<form method="get" action="#">
					<input type="text" class="search-text-box" />
				</form>
			</div>

		</div> 
		<div class="clear"></div>
		
	</div>
	<!-- Navigation / End -->

</div>
<!-- 960 Container / End -->


<!-- Content
================================================== -->

<!-- LayerSlider Container -->
<div id="dynamic">
<br>
    {{include}}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!-- LayerSlider Container / End -->


<!-- 960 Container --><!-- 960 Container / End -->

<!-- 960 Container --><!-- 960 Container / End -->


<!-- 960 Container --><!-- 960 Container / End -->

</div>
<!-- Wrapper / End -->


<!-- Footer
================================================== -->

<!-- Footer Start -->
<div id="footer">
	<!-- 960 Container -->
	<div class="container">
	
		<!-- About -->
		<div class="four columns">
			<div class="footer-headline"><h4>About Us</h4></div>
			<p>Math student at UCM Madrid. My main interests are group theory, algebra, topology, set theory,
                programming,
                web development, python, web2py, photography, philosophy, rugby, wine, quantum mechanics,
                philosophy of physics.</p>
			<p>Always learning.</p>
		</div>
		
		<!-- Useful Links -->
		<div class="four columns">
			<div class="footer-headline"><h4>Useful Links</h4></div>
			<ul class="links-list">
				<li><a href="http://math.ucr.edu/home/baez/">John Baez's Stuff</a></li>
				<li><a href="http://world.std.com/~jmccarro/math/SmallGroups/SmallGroups.html">Small groups</a></li>
				<li><a href="http://mathandcode.com/">Math and Code</a></li>
				<li><a href="http://sahandsaba.com/">Math u Code</a></li>
				<li><a href="http://math-blog.com/">Math blog</a></li>
				<li><a href="http://golem.ph.utexas.edu/category/">The n-Category Café</a></li>
				<li><a href="http://mathsexperiences.wordpress.com/">Mathematics in Canada</a></li>
			</ul>
		</div>
		
		<!-- Photo Stream -->
		<div class="four columns">
			<div class="footer-headline"><h4>Photo Stream</h4></div>
			<div class="flickr-widget">
				<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=36587311@N08"></script>
				<div class="clear"></div>
			</div>
		</div>
		
		<!-- Latest Tweets -->
		<div class="four columns">
			<div class="footer-headline"><h4>Latest Tweets</h4></div>
			<ul id="twitter"></ul>
				<script type="text/javascript">
					jQuery(document).ready(function($){
					$.getJSON('twitter.php?url='+encodeURIComponent('statuses/user_timeline.json?screen_name=Vasterad&count=2'), function(tweets){
						$("#twitter").html(tz_format_twitter(tweets));
					}); });
				</script>
			<div class="clear"></div>
		</div>

		<!-- Footer / Bottom -->
		<div class="sixteen columns">
			<div id="footer-bottom">
				© Copyright 2014 by <a href="">topolab.org</a>. All rights reserved.
				<div id="scroll-top-top"><a href="#"></a></div>
			</div>
		</div>

	</div>
	<!-- 960 Container / End -->

</div>
<!-- Footer / End -->




</body>
</html>